/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  background-color: #94D1BE;
  color: #DAF0EE;
  z-index: 2;
  height: 8rem;
}
header h1 {
  font-size: 5rem;
  color: #FFFFFF;
}
header .loginBtn {
  font-size: 2.5rem;
  background-color: #3B413C;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border-radius: 12px;
  color: #DAF0EE;
}
@media (max-width:500px) {
  header .loginBtn {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    border-radius: 6px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.menu {
  height: 400px;
  width: 25%;
  background-color: #3B413C;
  align-items: right;
  opacity: 0.98;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: none;
}
.menu .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.menu .menu-items a {
  font-size: 2.25rem;
  color: #DAF0EE;
  text-decoration: none;
  margin: 3.5rem;
}
.menu .menu-items a:hover {
  color: #94D1BE;
}
@media (max-width:500px) {
  .menu .menu-items a {
    width: 100%;
    height: 600px;
  }
}
.menu--open {
  display: block;
  height: 400px;
  width: 18%;
  margin-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  justify-content: right;
  border: 2px solid white;
}
.menu-button {
  height: 2rem;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 2000px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  background-color: #9DB5B2;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
.container .pitch {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 20rem;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 2.5rem;
}
.container .pitch .purpose {
  display: flex;
  flex-flow: row wrap;
  width: 41%;
  height: 17rem;
  padding-top: 0.75rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  text-align: center;
}
@media (max-width:500px) {
  .container .pitch .purpose {
    justify-content: center;
  }
}
.container .pitch h2 {
  width: 100%;
  color: #94D1BE;
  margin-bottom: 0.5rem;
  height: 3rem;
  padding-left: 2.5rem;
  font-size: 3rem;
}
.container .pitch p {
  color: #DAF0EE;
  padding-right: 1rem;
  padding-left: 4rem;
}
@media (max-width:500px) {
  .container .pitch p {
    padding-top: 2.5rem;
    margin-top: 1rem;
  }
}
.container .pitch .features {
  display: flex;
  flex-flow: row wrap;
  color: #DAF0EE;
  align-items: center;
  width: 51%;
  height: 18rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media (max-width:500px) {
  .container .pitch .features {
    justify-content: center;
    width: 40%;
    height: 290px;
    margin-right: auto;
    margin-left: auto 0;
  }
}
.container .pitch h2 {
  color: #94D1BE;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.75rem;
}
@media (max-width:500px) {
  .container .pitch h2 {
    text-align: left;
    margin-left: 0px;
    margin-right: 3rem;
    width: 60%;
  }
}
.container .pitch ul {
  width: 75%;
  color: #DAF0EE;
  list-style-type: circle;
  margin-left: 8.7rem;
}
@media (max-width:500px) {
  .container .pitch ul {
    justify-content: left;
    margin-left: 0px;
  }
}
.container .pitch li {
  margin-bottom: 0.75rem;
  margin-left: 2rem;
  padding-left: 4rem;
  text-align: left;
  font-size: 1.8rem;
}
@media (max-width:500px) {
  .container .pitch li {
    width: 100%;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-left: 0px;
    padding-top: 1.2rem;
    padding-left: 1rem;
    text-align: left;
  }
}
@media (max-width:500px) {
  .container .pitch {
    width: 100%;
    height: 500px;
  }
}
.container .top-content-container {
  font-size: 2.2rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .container .top-content-container {
    border: 2px solid #94D1BE;
    justify-content: center;
    width: 100%;
    background-color: #3B413C;
    margin-bottom: 2rem;
    margin-top: 0px;
  }
}
.container .top-content-container .find {
  color: #3B413C;
  background-color: #94D1BE;
  margin-top: 4rem;
  margin-right: 0.05rem;
  margin-bottom: 4rem;
  padding-top: 1.8rem;
  padding-left: 1.5rem;
  width: 48.8%;
  height: 5rem;
}
@media (max-width:500px) {
  .container .top-content-container .find {
    border: 2px solid #94D1BE;
    justify-content: center;
    width: 100%;
  }
}
.container .top-content-container .near {
  color: #3B413C;
  background-color: #94D1BE;
  margin-top: 4rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  padding-top: 1.8rem;
  padding-left: 1.5rem;
  width: 48.58%;
  height: 5rem;
}
@media (max-width:500px) {
  .container .top-content-container .near {
    border: 2px solid #94D1BE;
    justify-content: center;
    width: 100%;
  }
}
.container .reviews {
  font-size: 3.5rem;
  padding-left: 2rem;
  color: #DAF0EE;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #9DB5B2;
  height: 350px;
}
.container .reviews h2 {
  margin-top: 2rem;
  padding-top: 1.5rem;
}
.container .bottom-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container .bottom-content-container .text {
  margin-top: 3rem;
  color: #94D1BE;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  background-color: #3B413C;
}
.container .bottom-content-container .text h3 {
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-top: 2.5rem;
  text-align: center;
  width: 100%;
  background-color: #3B413C;
}
.container .bottom-content-container .btn {
  width: 9.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #DAF0EE;
  color: #3B413C;
  padding-top: 1rem;
  padding-left: 3.5rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  border: 2px solid #94D1BE;
}
@media (max-width:500px) {
  .container .bottom-content-container .btn {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 13.5rem;
    padding-right: 13.5rem;
  }
}
.container .footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 2175px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  background-color: #3B413C;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  background-color: #94D1BE;
  color: #FFFFFF;
  z-index: 2;
  height: 8rem;
}
header h1 {
  font-size: 5rem;
}
.menu {
  height: 400px;
  width: 25%;
  background-color: #9DB5B2;
  align-items: right;
  opacity: 0.98;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: none;
}
.menu .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.menu .menu-items a {
  font-size: 2.25rem;
  color: #3B413C;
  text-decoration: none;
  margin: 3.5rem;
}
.menu .menu-items a:hover {
  color: #94D1BE;
}
.menu--open {
  display: block;
  height: 400px;
  width: 18%;
  margin-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  justify-content: right;
  border: 2px solid white;
}
.menu-button {
  height: 2rem;
  cursor: pointer;
}
.menu-button-close {
  cursor: pointer;
}
.about h1 {
  font-size: 4rem;
  color: #94D1BE;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about p {
  font-size: 3rem;
  color: #DAF0EE;
  display: flex;
  padding-top: 0.5rem;
  flex-flow: row nowrap;
  justify-content: center;
}
.about img {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 45%;
  color: #DAF0EE;
}
.about .box {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 300px;
  justify-content: center;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
  background-color: #94D1BE;
}
.carousel {
  width: 90%;
  height: 570px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:500px) {
  .carousel {
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 290px;
  }
}
.carousel img {
  display: none;
  width: 80%;
  height: 45rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width:500px) {
  .carousel img {
    width: 100%;
    height: 200px;
  }
}
.carousel .left-button {
  font-size: 8rem;
  color: #94D1BE;
}
.carousel .right-button {
  font-size: 8rem;
  color: #94D1BE;
  text-align: right;
}
