/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.width-100 {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #DAF0EE;
  z-index: 2;
  height: 20rem;
}
@media (max-width:500px) {
  header {
    height: 300px;
    border: 2px solid red;
  }
}
header h1 {
  font-size: 6rem;
  font-family: 'Vast Shadow', cursive;
  color: #FFFFFF;
}
@media (max-width:500px) {
  header h1 {
    font-size: 3rem;
    margin-right: 2rem;
    border: 2px solid blue;
    font-family: 'Cormorant SC', cursive;
  }
}
header .loginBtn {
  font-size: 1.8rem;
  font-family: 'Cormorant SC', cursive;
  background-color: #94D1BE;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border-radius: 12px;
  color: #3B413C;
}
@media (max-width:500px) {
  header .loginBtn {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 6px;
  }
}
header .signUpBtn {
  font-size: 1.8rem;
  font-family: 'Cormorant SC', cursive;
  background-color: #94D1BE;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border-radius: 12px;
  color: #3B413C;
}
@media (max-width:500px) {
  header .signUpBtn {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 6px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.menu {
  height: 400px;
  width: 25%;
  background-color: #3B413C;
  align-items: right;
  opacity: 0.98;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: none;
}
@media (max-width:500px) {
  .menu {
    margin-right: 2rem;
  }
}
.menu .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.menu .menu-items a {
  font-size: 2.25rem;
  color: #DAF0EE;
  text-decoration: none;
  margin: 3.5rem;
}
.menu .menu-items a:hover {
  color: #94D1BE;
}
@media (max-width:500px) {
  .menu .menu-items a {
    width: 100%;
    height: 600px;
    font-size: 2rem;
    color: #DAF0EE;
    text-align: center;
    background-color: #3B413C;
  }
}
.menu--open {
  display: block;
  height: 400px;
  width: 18%;
  margin-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  justify-content: right;
  border: 2px solid white;
}
@media (max-width:500px) {
  .menu--open {
    height: 200px;
    width: 100%;
  }
}
.menu-button {
  height: 2rem;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  background-color: #9DB5B2;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
.container .exampleReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 680px;
  font-size: 2.8rem;
  font-family: 'Mate SC', serif;
  margin-top: 3rem;
  background-color: #9DB5B2;
}
.container .exampleReviews .review1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 80%;
  margin-bottom: 2rem;
  border: 2px solid #DAF0EE;
}
.container .exampleReviews .review1 img {
  width: 18%;
  height: 200px;
  margin-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container .exampleReviews .review1 p {
  font-size: 3rem;
  font-family: 'Romanesco', cursive;
  width: 45%;
}
.container .exampleReviews .review2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 80%;
  margin-bottom: 2rem;
  border: 2px solid #DAF0EE;
}
.container .exampleReviews .review2 p {
  font-size: 3rem;
  font-family: 'Romanesco', cursive;
  width: 45%;
}
.container .exampleReviews .review2 img {
  width: 18%;
  height: 200px;
  margin-left: 8rem;
}
.container .exampleReviews .review3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 80%;
  margin-bottom: 2rem;
  border: 2px solid #DAF0EE;
}
.container .exampleReviews .review3 img {
  width: 18%;
  height: 180px;
  margin-right: 8rem;
}
.container .exampleReviews .review3 p {
  font-size: 3rem;
  font-family: 'Romanesco', cursive;
  width: 45%;
}
.container .pitch {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 20rem;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #9DB5B2;
  padding-bottom: 2rem;
}
.container .pitch .purpose {
  display: flex;
  flex-flow: row wrap;
  width: 41%;
  height: 17rem;
  padding-top: 0.75rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  text-align: center;
}
@media (max-width:500px) {
  .container .pitch .purpose {
    justify-content: center;
  }
}
.container .pitch .purpose h2 {
  width: 100%;
  color: #3B413C;
  margin-bottom: 0.5rem;
  height: 3rem;
  padding-left: 2.5rem;
  font-size: 4.5rem;
  font-family: 'Gidugu', sans-serif;
}
.container .pitch p {
  color: #DAF0EE;
  padding-right: 1rem;
  padding-left: 4rem;
}
@media (max-width:500px) {
  .container .pitch p {
    padding-top: 2.5rem;
    margin-top: 1rem;
  }
}
.container .pitch .features {
  display: flex;
  flex-flow: row wrap;
  color: #DAF0EE;
  align-items: center;
  width: 51%;
  height: 18rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media (max-width:500px) {
  .container .pitch .features {
    justify-content: center;
    width: 40%;
    height: 290px;
    margin-right: auto;
    margin-left: auto 0;
  }
}
.container .pitch h2 {
  color: #3B413C;
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  font-family: 'Gidugu', sans-serif;
  margin-bottom: 0.75rem;
}
@media (max-width:500px) {
  .container .pitch h2 {
    text-align: left;
    margin-left: 0px;
    margin-right: 3rem;
    width: 60%;
  }
}
.container .pitch ul {
  width: 75%;
  color: #DAF0EE;
  list-style-type: circle;
  margin-left: 8.7rem;
}
@media (max-width:500px) {
  .container .pitch ul {
    justify-content: left;
    margin-left: 0px;
  }
}
.container .pitch li {
  margin-bottom: 0.75rem;
  margin-left: 2rem;
  padding-left: 4rem;
  text-align: left;
  font-size: 1.8rem;
}
@media (max-width:500px) {
  .container .pitch li {
    width: 100%;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-left: 0px;
    padding-top: 1.2rem;
    padding-left: 1rem;
    text-align: left;
  }
}
@media (max-width:500px) {
  .container .pitch {
    width: 100%;
    height: 550px;
  }
}
.container .myReviews {
  font-size: 5rem;
  font-family: 'Mate SC', serif;
  padding-left: 2rem;
  color: #DAF0EE;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #94D1BE;
  height: 350px;
  margin-top: 2rem;
}
.container .myReviews h2 {
  margin-top: 2rem;
  padding-top: 1.5rem;
}
.container .bottom-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container .bottom-content-container .text {
  margin-top: 3rem;
  color: #94D1BE;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  background-color: #3B413C;
}
.container .bottom-content-container .text h3 {
  font-size: 5rem;
  font-family: 'Mate SC', serif;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-top: 2.5rem;
  text-align: center;
  width: 100%;
  background-color: #3B413C;
}
.container .bottom-content-container .btn {
  width: 9.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #DAF0EE;
  color: #3B413C;
  padding-top: 1rem;
  padding-left: 3.5rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  border: 2px solid #94D1BE;
}
@media (max-width:500px) {
  .container .bottom-content-container .btn {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 13.5rem;
    padding-right: 13.5rem;
  }
}
.container .footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.aboutContainer {
  max-width: 1200px;
  width: 100%;
  height: 3000px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  background-color: #9DB5B2;
}
@media (max-width:500px) {
  .aboutContainer {
    width: 90%;
    height: 3400px;
  }
}
.aboutContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  color: #DAF0EE;
  z-index: 2;
  height: 8rem;
}
.aboutContainer header h1 {
  font-size: 5rem;
}
.aboutContainer .menu {
  height: 400px;
  width: 25%;
  background-color: #9DB5B2;
  align-items: right;
  opacity: 0.98;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: none;
}
.aboutContainer .menu .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.aboutContainer .menu .menu-items a {
  font-size: 2.25rem;
  color: #3B413C;
  text-decoration: none;
  margin: 3.5rem;
}
.aboutContainer .menu .menu-items a:hover {
  color: #94D1BE;
}
.aboutContainer .menu--open {
  display: block;
  height: 400px;
  width: 18%;
  margin-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  justify-content: right;
  border: 2px solid white;
}
.aboutContainer .menu-button {
  height: 2rem;
  cursor: pointer;
}
@media (max-width:500px) {
  .aboutContainer .about {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
  }
}
.aboutContainer .about h1 {
  font-size: 7rem;
  font-family: 'Gidugu', sans-serif;
  color: #3B413C;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width:500px) {
  .aboutContainer .about h1 {
    margin-top: 1rem;
    padding-top: 1.8rem;
    font-size: 6rem;
  }
}
.aboutContainer .about p {
  font-size: 6.5rem;
  font-family: 'Gidugu', sans-serif;
  color: #3B413C;
  display: flex;
  padding-top: 0.5rem;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 5rem;
}
@media (max-width:500px) {
  .aboutContainer .about p {
    font-size: 4rem;
  }
}
.aboutContainer .about .box {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 390px;
  justify-content: space-between;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2.6rem;
  background-color: #94D1BE;
  border: 2px solid #DAF0EE;
}
@media (max-width:500px) {
  .aboutContainer .about .box {
    width: 100%;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.aboutContainer .about .box img {
  justify-content: center;
  width: 37%;
  height: 350px;
  color: #DAF0EE;
  margin: 4rem 2rem 2.5rem 5rem;
  border: 2px solid #9DB5B2;
}
@media (max-width:500px) {
  .aboutContainer .about .box img {
    width: 70%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
.aboutContainer .about .box h2 {
  width: 45%;
  height: 330px;
  font-size: 3rem;
  font-family: 'Mate SC', serif;
  margin-top: 3rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  text-align: center;
  color: #3B413C;
  background-color: #DAF0EE;
  box-shadow: 5px 7px 5px 8px #3B413C;
}
@media (max-width:500px) {
  .aboutContainer .about .box h2 {
    width: 90%;
    height: 200px;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 2rem;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  background-color: #9DB5B2;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  background-color: #3B413C;
  color: #DAF0EE;
  z-index: 2;
  height: 8rem;
}
header h1 {
  font-size: 5rem;
}
.menu {
  height: 400px;
  width: 25%;
  background-color: #94D1BE;
  align-items: right;
  opacity: 0.98;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: none;
}
.menu .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.menu .menu-items a {
  font-size: 2.25rem;
  color: #3B413C;
  text-decoration: none;
  margin: 3.5rem;
}
.menu .menu-items a:hover {
  color: #9DB5B2;
}
.menu--open {
  display: block;
  height: 400px;
  width: 18%;
  margin-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  justify-content: right;
  border: 2px solid white;
}
.menu-button {
  height: 2rem;
  cursor: pointer;
}
.contact {
  color: #DAF0EE;
  justify-content: center;
}
.contact h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  color: #3B413C;
}
.contact p {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact .contactInfo {
  color: #3B413C;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (max-width: 500px) {
  .carousel {
    width: 90%;
    margin: 0 auto;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  padding-top: 0.5rem;
  color: #94D1BE;
  background-color: #3B413C;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #94D1BE;
  background-color: #3B413C;
  border: 2px solid #DAF0EE;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
