.container {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    background-color: @cambridgeBlue;

    @media @mobile{
        width: 90%;
        height: 680px;
        margin-bottom: 2rem;
    }
}
.contact {
    color: @azureishWhite;
    justify-content: center;
    h1 {
        font-size: 4rem;
        text-align: center;
        margin-top: 3rem;
        width: 100%;
        color: @blackOlive;
    }
    p {
        font-size: 3rem;
        text-align: center;
        margin-top: 3rem;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .contactInfo {
        color: @blackOlive;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
// .layeredCarousel {
//     position: relative;
//     text-align: center;
//     color: red;
// }
// .carousel2 {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }


// .carousel2 {
//   width: 50%;
//   .flex(center, center);
//   height: 500px;
//   position: absolute;
//   overflow: hidden;
//   margin-top: 16px;
//   @media @tablet {
//     width: 100%;
//     margin-right: auto;
//     margin-left: auto;
//   }
//   @media @mobile {
//     width: 100%;
//     margin: 0 auto;
//     background-color: @blackOlive;
//     height: 350px;
//     margin-top: 1rem;
//   }
//   .left-button, .right-button {
//     .flex(center);
//     padding-top: 0.5rem;
//     color: @pearlAqua;
//     background-color: @blackOlive;
//     font-size: 40px;
//     border-radius: 50%;
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     cursor: pointer;
//     &:hover {
//       color: @pearlAqua;
//       background-color: @blackOlive;
//       border: 2px solid @azureishWhite;
//     }
//   }
//   .left-button2 {
//     top: 50%; 
//     left: 25px;
//     transform: translate(0, -50%);
//   }
//   .right-button2 {
//     top: 50%; 
//     right: 25px;
//     transform: translate(0, -50%);
//   }
//   img {
//     width: 50%;
//     display: none;
    
//     @media @mobile {
        
//     }
//   }
// }