.container {
    width: 100%;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    background-color: @cambridgeBlue;
    @media @mobile {
        width: 90%;
    }
   
    .exampleReviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 700px;
        font-size: 2.8rem;
        font-family: 'Mate SC', serif;
        margin-top: 3rem;
        background-color: @cambridgeBlue;
        @media @tablet {
            width: 100%;
            height: 750px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 2rem;
        }
        @media @mobile {
            width: 100%;
            margin-top: 1rem;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-flow: column nowrap;
            border: 2px solid yellow;
        }
        .review1 {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 80%;
            margin-bottom: 2rem;
            border: 2px solid @azureishWhite;
            }
            @media @tablet {
                height:700px;
            }
            @media @mobile {
                display: flex;
                flex-flow: column nowrap;
                height: 440px;
                width: 100%;
                border: 2px solid red;
                align-items: center;
            }
            img {
                width: 18%;
                height: 200px;
                margin-right: 8rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @media @mobile {
                    width: 60%;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 2rem;
                }
            }
            p {
                font-size: 3rem;
                font-family: 'Romanesco', cursive;
                width: 45%;
                @media @mobile {
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .review2 {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 80%;
            margin-bottom: 2rem;
            border: 2px solid @azureishWhite;
       
            @media @mobile {
                display: flex;
                flex-direction: column-reverse;
                flex-wrap: wrap;
                justify-content: center;
                height: 430px;
                border: 2px solid yellow;
                width: 100%;
            }
            p {
                font-size: 3rem;
                font-family: 'Romanesco', cursive;
                width: 45%;
                @media @mobile {
                    width: 100%;
                    margin-top: 2rem;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 1rem;
                }
            }
            img {
                width: 25%;
                height: 200px;
                margin-left: 8rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @media @mobile {
                    width: 70%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .review3 {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 80%;
            margin-bottom: 2rem;
            border: 2px solid @azureishWhite;
            // @media @tablet {
            //     width: 80%;
            // }
            @media @mobile {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                height: 430px;
                width: 100%;
                border: 2px solid blue;
            }
            img {
                width: 18%;
                height: 180px;
                margin-right: 8rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @media @mobile {
                    width: 70%;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 1rem;
                }
            }
            p {
                font-size: 3rem;
                font-family: 'Romanesco', cursive;
                width: 45%;
                @media @mobile {
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        
    }
    .pitch {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 20rem;
        justify-content: space-between;
        font-size: 2rem;
        background-color: @cambridgeBlue;
        padding-bottom: 2rem;
        padding-top: 3rem;
        @media @tablet {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            height: 390px;
            justify-content: center;
        }      
        @media @mobile {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .purpose {
            display: flex;
            flex-flow: row wrap;
            width: 40%;
            height: 17rem;
            padding-top: 0.75rem;
            padding-right: 2rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            text-align: center;
            margin-left: 5.5rem;
            //border: 2px solid red;
            @media @tablet {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 1rem;
            }    
           @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            h2 {
                width: 100%;
                color: @blackOlive;
                margin-bottom: 2.5rem;
                margin-left: 10rem;
                height: 3rem;
                padding-left: 2.5rem;
                //border: 2px solid yellow;
                font-size: 4.5rem;
                font-family: 'Gidugu', sans-serif;
                @media @tablet {
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 0.5rem;
                }
                @media @mobile {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        p {
            color: @azureishWhite;
            padding-right: 1rem;
            padding-left: 4rem;
            @media @tablet {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
           @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }   
        .features {
            display: flex;
            flex-flow: row wrap;
            color: @azureishWhite;
            align-items: center;
            width: 45%;
            height: 18rem;
            text-align: center;
            margin-bottom: 1.5rem;
            padding-top: 0.7rem;
            padding-bottom: 1rem;
            //border: 2px solid red;
            @media @tablet {
                width: 100%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                padding-left: 2rem;
            }    
            @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        h2 {
            color: @blackOlive;
            width: 100%;
            text-align: center;
            //border: 2px solid yellow;
            font-size: 4.5rem;
            font-family: 'Gidugu', sans-serif;
            margin-bottom: 0.75rem;
            margin-right: 10rem;
            @media @tablet {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        ul {
            width: 80%;
            color: @azureishWhite;
            list-style-type: circle; 
            //border: 2px solid green;
            @media @tablet {
                width: 55%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 2rem;
            }
            @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        li {
            margin-bottom: 0.75rem;
            margin-left: 4rem;
            text-align: left;
            //border: 2px solid pink;
            font-size: 1.8rem;
            @media @mobile {
            width: 100%;
            font-size: 1.7rem;
            margin-top: 2rem;
            margin-left: 0px;
            padding-top: 1.2rem;
            padding-left: 1rem;
            text-align: left;
            @media @mobile {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        }
    }
    .myReviews {
        font-size: 5rem;
        font-family: 'Mate SC', serif;
        color: @azureishWhite;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: @pearlAqua;
        height: 350px;
        margin-top: 2rem;
        @media @tablet {
            width: 100%;
        }    
        h2 {
            margin-top: 2rem;
            padding-top: 1.5rem;
        }
    }
    .bottom-content-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .text {
            margin-top: 3rem;
            color: @pearlAqua; 
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 100%;
            height: 400px;
            background-color: @blackOlive;
            @media @tablet {
                width: 100%;
            }    
            @media @mobile {
                margin-top: 1rem;
                padding-top: 1rem;
                padding-bottom: 7rem;
            }
            
            h3 {
                font-size: 5rem;
                font-family: 'Mate SC', serif;
                margin-top: 2rem;
                margin-bottom: 1.5rem;
                padding-top: 2.5rem;
                text-align: center;
                width: 100%;
                background-color: @blackOlive;
            }
        }

        .btn {
            width: 9.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            text-align: center;
            background-color: @azureishWhite;
            color: @blackOlive;
            padding-top: 1rem;
            padding-left: 3.5rem;
            padding-right: 3rem;
            padding-bottom: 1rem;
            border-radius: 12px;
            border: 2px solid @pearlAqua;
            
            @media @mobile {
                .btn-dimensions(100%, 2rem, 13.5rem);
            }
        }  
    }

    .footer-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }