.container {
    max-width: 1200px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    background-color: @cambridgeBlue;

    @media @mobile{
        width: 99%;
    }
}
.menu {
    height: 1000px;
    width: 100%;
    background-color: @blackOlive;
    opacity: 0.98;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    display: none;
    
    .menu-items {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 19rem auto;
    
        a {
            font-size: 8rem;
            color: white;
            text-decoration: none;
            margin: 4rem auto;
            &:hover{
                color: @blackOlive;
            }
        }
    }
}
.menu-selected {
    display: block;
}
.pitch {
    p {
        padding-top: 3.5rem;
        padding-right: 8.25rem;
        padding-left: 8.25rem;
        font-size: 1.8rem;
        text-align: center;
        color: @blackOlive;
    }
   
}
.top-content-container {
    font-size: 2.2rem;
    width: 100%;
    //border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .find {   
        color: @blackOlive;
        background-color: @pearlAqua;
        margin-top: 4rem;
        margin-right: 0.05rem;
        margin-bottom: 4rem;
        padding-top: 1.8rem;
        padding-left: 1.5rem;
        width: 48.8%;
        height: 3.5rem;
        //border: 2px solid blue;
    }    

    .near {   
        color: @blackOlive;
        background-color: @pearlAqua;
        margin-top: 4rem;
        margin-right: auto;
        margin-bottom: 4rem;
        margin-left: auto;
        padding-top: 1.8rem;
        padding-left: 1.5rem;
        width: 48.58%;
        height: 3.5rem;
        //border: 2px solid blue;
    }    
}

.bottom-content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .text {
        margin-top: 3rem;
        color: @azureishWhite; 
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        
        h3 {
            font-size: 3rem;
            margin-bottom: 2rem;
            text-align: center;
            width: 100%;
        }
    }

    .btn {
        width: 9.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: @azureishWhite;
        color: @blackOlive;
        padding-top: 1rem;
        padding-left: 3.5rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        border-radius: 12px;
        border: 2px solid @blackOlive;
        
        @media @mobile {
            .btn-dimensions(100%, 2rem, 13.5rem);
        }
    }  
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
}