//Flex
.custom-flex(@d: column, @j: center, @a: center) {
    display: flex;
    flex-direction: @d;
	justify-content: @j;
    align-items: @a;
}

//Button
.btn-dimensions(@width, @topPadding, @leftPadding) {
    width: @width;
    padding-top: @topPadding;
    padding-bottom: @topPadding;
    padding-left: @leftPadding;
    padding-right: @leftPadding;
}

//flex
.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
}

//width
.width-100 {
  width: 100%;
}
